{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 100,
  "plugins": ["prettier-plugin-organize-imports"],
  "organizeImportsSkipDestructiveCodeActions": true
}
